{% extends "layouts.html" %}
    {% block content %}
    <form method="POST"> 
        {{ form.hidden_tag() }}
        <legend>Content Based Recommendations</legend>  
        <br>
        <div class="form-group">
            {{ form.conQuery.label(class="form-control-label")}}
            {{ form.conQuery(class="form-control form-control-lg")}}
        </div>

        <div class="form-group ">
            {{ form.submit(class="btn btn-outline-info")}}
        </div>

        <h3><i> {{ header_rec }} </i></h3>

        <ul class= "list-group">
            {% for x in rec %}
            <li class="list-group">
                <a href="#" class="list-group-item list-group-item-action ">
                    {{ x }}
                </a>
            </li>
            {% endfor %}
        </ul>



        <br>





    </form>
    {% endblock content %}